<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Accounts Management</h3>
    <a class="btn btn-primary btn-sm" routerLink="/new-account">
      <i class="bi bi-plus-circle"></i> New Account
    </a>
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by account id or customer..."
      [(ngModel)]="searchTerm"
      (input)="searchAccounts()"
    />
  </div>
  <div class="table-responsive">
    <table class="table table-hover align-middle bg-white rounded shadow-sm">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Balance</th>
          <th>Type</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.id }}</td>
          <td>{{ account.balance | number : "1.2-2" }} $</td>
          <td>{{ account.type }}</td>
          <td>{{ account.status }}</td>
          <td>{{ account.createdAt | date : "medium" }}</td>
          <td>
            <a
              class="btn btn-info btn-sm me-1"
              [routerLink]="['/account-operations', account.id]"
              >Operations</a
            >
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteAccount(account)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
